<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="mx-auto">

      <%= form_with model: @user do |f| %>
        
        <p>Name</p>
        <%= f.text_field :name %>
        
        <p>image</p>
        <%= f.file_field :image, accept: "image/*" %>
        
        <p>Introduction</p>
        <%= f.text_area :introduction %>
        
        <%= f.submit "Update User" %>
          

      </div>
    </div>
  </div>
</main>

<% end %>



